<div class="main-page-inner col-md-6 col-md-offset-3"><div class='row'>
  <div class="post col-sm-2 col-sm-offset-1">
    <p><h3>- <%= linkify_users(post.user.username) %></h3></p>
  </div>
  <div class="post col-sm-6">
        <%= link_to "Delete Post", post_path(post), method: :delete%>
        <%= image_tag post.picture.url(:medium), class:"uploaded-pic " %>
        <p>
          <h5>
            <%= link_to 'Like', like_path(post), method: :post %>
            <%= link_to 'Unlike', unlike_path(post), method: :post %>
          </h5>
          <h4>
            <% post.likes.each do |like| %>
              <%= linkify_users(like.user.username) %>
            <% end %>
            likes this
          </h4>
        </p>
        <ul>
          <% post.comments.each do |comment| %>
            <li><h4><%= linkify_users(comment.user.username) %>:</h4> <%= linkify_tags(comment.comment) %></li>
          <% end %>
        </ul>
        <%= form_for [post, @comment] do |f| %>
          <p>
            <%= f.text_area :comment, autofocus: true, placeholder: "Comments...", class: "comments-box" %>
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
          </p>
        <% end %>
        <hr />

  </div> 
  <div class="post col-sm-3"></div>

</div>
    </div>