<div class="main-page-inner col-md-6 col-md-offset-3"><div class='row'>
  <div class="post col-sm-2 col-sm-offset-1">
    <p><h3>- <%= linkify_users(post.user.username) %></h3></p>
  </div>
  <div data-id="<%= post.id %>" class="post col-sm-6">
        <%= link_to "Delete Post", post_path(post), method: :delete%>

        <% if post.picture.exists? %>
          <%= image_tag post.picture.url(:medium), class:"uploaded-pic " %>
        <% end %>
        <p>
          <h5>
            <% if likes?(post) %>
              <%= link_to 'Unlike', unlike_path(post), class:"unlike" %>
            <% else %>
              <%= link_to 'Like', like_path(post), class:"like" %>
            <% end %>
          </h5>
          <h4 class="likes">
            <% post.likes.each do |like| %>
              <span class="each-likes" data-id="<%=like.user.username%>"><%= linkify_users(like.user.username) %></span>
            <% end %>
            likes this
          </h4>
            <%= link_to "â¤ #{post.likes.count}", '#', class: 'btn btn-sm btn-default btn-like' %>
            <%= link_to "Buy", new_post_charge_path(post), class: 'btn btn-sm btn-default' %>
            <% if !post.latitude.nil?%>
              <%= link_to post_map_path(post), class: "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-map-marker">Map</span>
              <% end %>
            <% end %>
        </p>
        <ul>
          <% post.comments.each do |comment| %>
            <li><h4><%= linkify_users(comment.user.username) %>:</h4> <%= linkify_tags(comment.comment) %></li>
          <% end %>
        </ul>
        <%= form_for [post, @comment] do |f| %>
          <p>
            <%= f.text_area :comment, autofocus: true, placeholder: "Comments...", class: "comments-box" %>
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
          </p>
        <% end %>
        <hr />

  </div> 
  <div class="post col-sm-3"></div>

</div></div>

<template id="likes-template">
  <span class="each-likes" data-id="{{user}}"><a href="/profiles/{{user}}">{{user}}</a></span>
</template>

