
<%= link_to 'New Post', new_post_path%>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p><%= post.caption %><%= post.user.username %></p>
    <%= image_tag post.picture.url(:medium), class:"uploaded-pic" %>
    <%= link_to 'Like', post_likes_path(post), method: :post %>
  <% end %>

<% else %>

  <p>no current posts yet</p>
<% end %>
