<%= form_for @post, html: {multipart: true} do |f| %>
<p>
<%= f.label :caption %>
<%= f.text_area :caption %>
</p>
<p>
<%= f.label :picture %>
<%= f.file_field :picture %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>