<%= form_for @post, html: {multipart: true} do |f| %>
<p>
<%= f.label :comment %>
<%= f.text_area :comment %>
</p>
<p>
<%= f.label :picture %>
<%= f.file_field :picture %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>